.wf-loading {
  visibility: hidden;
}

.wf-active {
  visibility: visible;
}

body {
	background-color: #61ba96;

	font-family: "proxima-nova-alt-condensed", sans-serif ;
	color: #fff;
	font-size: 100%;
	text-align:center;
}

.wrap {
	max-width: 60em;
	margin:80px auto;
}

h1 {
	font-weight: 400;
	font-size: 2.5em;
	letter-spacing: 0.03em;
	line-height: 1;
}

h1:before {
	content:'\007B';
	font-size:1.4em;
}

h1:after {
	content:'\007D';
	font-size:1.4em;
}

p {
	text-transform: uppercase;
	letter-spacing: 0.02em;
}